extrasmall()
  @media screen and (max-width: $BREAKPOINTS.small - 1px)
    {block}
    
small()
  @media screen and (min-width: $BREAKPOINTS.small)
    {block}
    
medium()
  @media screen and (min-width: $BREAKPOINTS.medium)
    {block}
    
large()
  @media screen and (min-width: $BREAKPOINTS.large)
    {block}
