$COLORS = {
  'primary': #9799D9,
  'green': #4AD591,
  'blue': {
    'default': #0000FF
    'light': #6C91F1
  },
  'neutral': #FFFFFF,
  'font': {
    'default': #4C4F57,
    'dark': #4C4F57,
    'light': #999
  },
  'subtle': #FDFDFD,
  'border': {
    'default': #E6E7F9,
    'dark': #D1D2ED,
  }
}

$BREAKPOINTS = {
  'small': 768px,
  'medium': 992px,
  'large': 1200px
}

$BORDER-RADIUS = {
  'tiny': 2px,
  'small': 3px,
  'medium': 5px,
  'large': 10px,
  'xlarge': 15px,
  'huge': 30px
}

$FONT-SIZES = {
  'huge': 40px,
  'xlarge': 24px,
  'large': 16px,
  'medium': 14px,
  'small': 12px,
  'tiny': 10px
}

$SPACES = {
  '0': epp(0),
  '1': epp(1),
  '2': epp(2),
  '3': epp(4),
  '4': epp(8),
  '5': epp(16),
  '6': epp(32)
}

$FONT-FAMILIES = {
  'primary': 'Avenir Next',
  'secondary': 'Brandon Grotesque',
  'code': 'Fira Code'
}

$LOADER = {
  'speed': '900ms'
}
